$primary-color: red;

%color-shared{
    color:$primary-color;
}

.container {
    background-color: rgb(0, 0, 0);
    .logo {
            @extend %color-shared;
    }
    .logo2 {
        @extend %color-shared;
}   
}
